.home .home2wrapper {
    position: relative;
    height: 650px;
    margin-bottom: -190px;
    background-image: url('./home2.png');
    background-repeat:no-repeat; 
    background-size:110% 100%;
    -moz-background-size:100% 100%;
    text-align: center;
}
.home .home3wrapper .textwrapper, .home .home4wrapper .textwrapper, .home .home5wrapper .textwrapper {
    position: relative;
    height: 0px;
}
.home .home3wrapper {
    height: 700px;
}
.home .home3wrapper .textwrapper img {
    position: relative;
    top: -650px;
    height: 400px;
    margin-left: -50px;
}
.home .home5wrapper .textwrapper img {
    position: relative;
    top: -650px;
    height: 400px;
    margin-left: -90px;
}
.home .home5wrapper .trainBtn {
    position: relative;
    top: -650px;
    height: 50px;
    width: 200px;
    margin-left: -450px;
    margin-top: 20px;
    background-color: rgb(134,128,96);
    border: none;
    color: #fff;
    font-size: 16px;
}
.home .home3wrapper .textwrapper .hometext{
    position: relative;
    top: -650px;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 500px;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    margin-left: 300px;

}
.home .home4wrapper .textwrapper .hometext {
    position: relative;
    top: -650px;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 50px;
    font-size: 38px;
    font-family: fireBold;
}
.home .home3wrapper .textwrapper .hometext span, .home .home4wrapper .textwrapper .hometext span{
    margin-top: 10px;
}
.home .trainBtn {
    position: relative;
    top: -650px;
    height: 50px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: rgb(134,128,96);
    border: none;
    color: #fff;
    font-size: 16px;
}
.home .home3wrapper .home3 {
    width: 100%;
}
.home .home2wrapper .home2{
    width: 107%;
    margin-top: -40px;
    position: absolute;
}
.home .home2wrapper .text {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    padding-left: calc(22%);
    padding-top: calc(10%);
    font-family: opensansBold;
} 
.home .home3wrapper .text {
    font-size: 16px;
} 
.home .home2wrapper .text span {
    margin-top: 15px;
}
.home .home2wrapper .home7 {
    width: 200px;
    height: 200px;
    margin-top: 300px;
}
.home .home4Wrapper {
   position: relative
}
.home .home5Wrapper {
    position: relative
}
.home .home4, .home .home5, .home .home6 {
    width: 100%;
}
.home .home6wrapper {
    width: 100%;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .home6wrapper .line1 {
    font-size: 33px;
    font-weight: bold;
}
.home .home6wrapper .line2 {
    margin-top: 20px;
}
.home .home6wrapper .line3Wrapper {
    display: inline;
}
.home .home6wrapper .line32 {
    color: rgb(120,120,90)
}
.home .home6wrapper .line5 {
    margin-top: 20px;
}

